<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yolo.kraus.bysjdemo01">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".ImApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.HomeActivity"></activity>
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity android:name=".Activity.ChatActivity"/>
        <activity android:name=".Activity.ProfileActivity"/>
        <activity android:name=".Activity.AddFriendActivity"/>
        <activity android:name=".Activity.GroupProfileActivity"/>
        <activity android:name=".Activity.EditActivity"/>
        <activity android:name=".Activity.FriendshipManageMessageActivity"/>
        <activity android:name=".Activity.FriendshipHandleActivity"/>
        <activity android:name=".Activity.SearchFriendActivity"/>
        <activity android:name=".Activity.ManageFriendGroupActivity"/>
        <activity android:name=".Activity.SearchGroupActivity"/>
        <activity android:name=".Activity.GroupListActivity"/>
        <activity android:name=".Activity.ImagePreviewActivity"/>
        <activity android:name=".Activity.ImageViewActivity"/>
        <activity android:name=".Activity.CreateGroupActivity"/>
        <activity android:name=".Activity.ChooseFriendActivity"/>
        <activity android:name=".Activity.GroupManageMessageActivity"/>
        <activity android:name=".Activity.ApplyGroupActivity"/>
        <activity android:name=".Activity.GroupMemberActivity"/>
        <activity android:name=".Activity.GroupMemberProfileActivity"/>
        <activity android:name=".Activity.MessageNotifySettingActivity"/>
        <activity android:name=".Activity.BlackListActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yolo.kraus.bysjdemo01.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <!-- 【必须】消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" >
        </service>
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" >
        </service>

        <!-- 【必须】 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter" android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <!-- ImSDK 3.0.2 后添加 -->
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>

    </application>



</manifest>